<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="user-infor-container">
          <form action="/users/create-user" method="post">
            <div class="mb-3 mt-3"><h3>Create New User</h3></div>
            <div class="mb-3 mt-3 col-6">
              <label for="email" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                required
                name="emailName"
              />
            </div>
            <div class="col-6"></div>
            <div class="mb-3 col-6">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="passwordName"
                required
              />
            </div>
            <div class="col-6"></div>
            <div class="col-6 pb-3">
              <label for="UserName" class="form-label">UserName</label>
              <input
                type="text"
                class="form-control"
                id="UserName"
                name="UserName"
                required
              />
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>

        <div class="table-user mt-3">
          <h3 class="mt-3 mb-3">Table User</h3>
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i=0; i < dataproduct.length; i++) { %>
              <tr>
                <th scope="row"><%= dataproduct[i].id %></th>
                <td><%= dataproduct[i].email %></td>
                <td><%= dataproduct[i].username %></td>

                <td>
                  <form
                    style="display: inline"
                    action="/edit-user/<%= dataproduct[i].id %>"
                    method="get"
                  >
                    <button class="btn btn-warning">Edit</button>
                  </form>

                  <form
                    style="display: inline"
                    action="/delete-user/<%= dataproduct[i].id %>"
                    method="post"
                  >
                    <button class="btn btn-danger">Delete</button>
                  </form>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
